@font-face
{
  font-family: 'myFancyFont';
  src: url('fonts/SCRIPTIN.ttf');
}

div.scroll {
    background-color: #FFFFFF;
    height:225px;
    width: 100%;
    overflow-x: scroll;
}

blockquote {
    border-left:none;
    font-size: 1em;
    display: block;
    margin-top: .25em;
    margin-left: 20px;
}
map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }
.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
    
#rStudioHeader .rStudio .logo {
  display: inline-block;
  width: 70px;
  height: 25px;
  background-image:url(https://github.com/AB-H/AB-H.github.io/raw/master/avner1.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  vertical-align: middle;
}
