@font-face
{
  font-family: 'myFancyFont';
  src: url('fonts/SCRIPTIN.ttf');
}

div.scroll {
    background-color: #FFFFFF;
    height:225px;
    width: 100%;
    overflow-x: scroll;
}

blockquote {
    border-left:none;
    font-size: 1em;
    display: block;
    margin-top: .25em;
    margin-left: 20px;
}